<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>m3u8player.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CE86863F2CAF20CB00C141CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE8686502CAF20CD00C141CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE86865A2CAF20CD00C141CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
